*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
}

#main{
    height: 100vh;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.715);
}

nav{
    background-color: rgb(6, 3, 81);
    width: 100%;
    height: 10%;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.left, .mid, .right{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    text-align: center;
}

#main nav .left{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 10px;
    /* text-transform: uppercase; */
}

.left select{
    border: none;
    outline: none;
    
}

.left select option{
padding: 10px 50px;
}

#main nav .right{
    display: flex;
    margin-right: 10px;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    /* background-color: rgb(255, 255, 255); */
    /* border: 4px solid red; */
    
}

nav .mid{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
    text-transform: uppercase;
}

.username{
    /* background-color: red; */
    text-transform: uppercase;  
    font-size: 20px;
    text-decoration: underline;
    color: yellow;
    text-align: center;
}

.right .cart_count{
    background-color: rgba(255, 0, 0, 0.906);
    color: white;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    font-size: 17x;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

#main #logout_btn{
    color: whitesmoke;
    background-color: rgb(215, 17, 17);
    text-decoration: none;
    border: 1px solid black;
    padding: 2px 9px;
    font-size: 15px;
    border-radius: 8px;
}

