*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  height: 100%;
  width: 100%;
  background-color: rgb(0, 0, 0);
}

#main{
  height: 100vh;
  width: 100%;
  color: white;
  background-image: linear-gradient(to top, #0d9aa78c 0%, #4f32ae 100%);
}